.App {
  text-align: center;
  background-image: url(./assets/background.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header h1 {
  font-size: 13px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

.App-link {
  color: #61dafb;
}

.Time-container {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.timeAndDate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.date-element {
  font-size: 34px;
}

.time-element { 
  font-size: 55px;
  font-weight: 700;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

footer {
  font-size: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
