.App {
  text-align: center;
  background-image: url(./assets/background.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header h1 {
  font-size: 13px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}

.App-link {
  color: #61dafb;
}

.Time-container {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.timeAndDate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Stopwatch-container {
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.List-container {
  max-height: 150px;
  overflow-y: scroll;
}

.Button-container {
  margin: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
}

.date-element {
  font-size: 34px;
}

.time-element { 
  font-size: 55px;
  font-weight: 700;
}

.list-element {
  font-size: 34px;
  font-weight: 700;
}

.fadeInFadeOut {
  -webkit-animation: fadeInFadeOut 1 .5s ease-in; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeInFadeOut 1 .5s ease-in; /* Firefox < 16 */
   -ms-animation: fadeInFadeOut 1 .5s ease-in; /* Internet Explorer */
    -o-animation: fadeInFadeOut 1 .5s ease-in; /* Opera < 12.1 */
       animation: fadeInFadeOut 1 .5s ease-in;
}

footer {
  font-size: 8px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInFadeOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 0; }
}
